apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: authors-books
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: 426192960096.dkr.ecr.us-east-1.amazonaws.com/authors-books-backend:latest
        ports:
        - containerPort: 3000
        env:
        - name: DB_HOST
          value: mysql
        - name: DB_USER
          value: root
        - name: DB_PASSWORD
          value: root
        - name: DB_NAME
          value: react_node_app
---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: authors-books
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
  - port: 3000
    targetPort: 3000
